<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>YelpCamp</title>
        <!-- Bootstrap & Stylesheets-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">YelpCamp</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav navbar-right">
                        <% if (!currentUser) { %>
                            <li class="nav-item"><a class="nav-link active" href="/login">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                        <% } else { %>
                            <li class="nav-item">Signed in As <%= currentUser.username %></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
