.thumbnail img {
    width: 100%;
}

.thumnail {
    padding: 0;
}

.thumnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

#footer {
    margin: 30px auto;
    text-align: center;
}
